* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

input {
    padding-bottom: 5px;
}

header {
    background: black;
}

.container {
    max-width: 1188px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: -50px;
    display: inline-block;
    transition: 0.5s;
}

.logo:hover {
    transform: rotate(360deg);
}

.list {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}

.ml-20 {
   margin-left: 20px;
}

header nav, li a {
    font-family:Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: white;
}

.underline {
    text-decoration-line: underline;
}

.main-banner {
    background-image: url('../images/background.jpg');
    background-size: cover;
    padding-top: 31px;
    padding-bottom: 34px;
}

.title {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    color: white;
}

.article {
    background-color: white;
    opacity: 0.9;
    border-radius:20px;
    max-width: 512px;
    margin-top: 30px;
    display: flex;
    box-sizing: border-box;
    padding: 33px;
}

.discount {
    margin-right: 20px;
    width: 44px;"
}
.discount-content {
   font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.btn {
    display: inline-block;
    line-height: 70px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: white;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    color: white;
    font-family: Roboto;
    font-style: normal; font-weight: 300;
    font-size: 20px;
}

.introduction {
    background-image: url('../images/Group 354.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 260px;
    padding-bottom: 160px;"
}

.content-body {
    width: 50%;
    margin-left: 165px;
    margin-right: 120px;
    text-align: left;"
}

.subtitle {
    margin-bottom: 60px;
    font-family: Gothic A1;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
}

.introduction-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}


.form-section {
    background-image: url('../images/Group 354.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 297px;
    padding-bottom: 200px;"
}
.form-container {
    width: 50%;
    margin-left: 163px;
    margin-bottom: 245px;
    margin-right: 86px;
    text-align: left;
}

.textarea {
    resize: none;
    height: 24px;
    width: 100%;
    padding-bottom: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    opacity: 0.5;
}

.livingroom-container {
    margin-right: 165px;
    margin-bottom: 200px;
}

.form-field {
    margin-bottom: 40px;
    max-width: 392px;
    height: 29px;"
}

.form-fontstyle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    opacity: 0.5;
}

.field-border {
    border: none;
    border-bottom: 1px solid #000000;
}

.textarea-field {
    margin-bottom: 60px;
    max-width: 392px;
    height: 24px;"
}

.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}

.mrb-35 {
    margin-bottom: 35px;
}

.mrb-98 {
    margin-bottom: 98px;
}


